name: learn-github-actions
run-name: ${{ github.actor }} runs tests
on: [push]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install pnpm
        uses: pnpm/action-setup@v6
        with:
          version: 9.5.0
      - name: Install nodejs
        uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: "pnpm"
      - name: Install dependencies and
        run: pnpm install
      - name: Run tests
        run: pnpm test
